extends ../layout

block content
  .container
    .row
      h3 ¿Si yo me inscribí en una de las sedes puedo asistir a talleres en otra sede?
      p R/ Si, es posible asistir a talleres o conferencias en cualquiera de las sedes, quizá alguna tenga límite de cupos, entonces se manejarán con inscripción previa.
      h3 ¿Por qué en el registro me preguntan por mi institución educativa?
      p R/ Para las clases regulares de las Casas de la Música debe estar estudiando en algúna institución educativa pues el proyecto hace parte de la educación complementaria, pero para asistir a los talleres abiertos al público o conferencias no es necesario estar matriculado en ninguna institución
