extends ../layout

block content
  .container
    .row
      h3 ¿Si yo me inscribí en una de las sedes puedo asistir a talleres en otra sede?
      p R/ Si, es posible asistir a talleres o conferencias en cualquiera de las sedes, quizá alguna tenga límite de cupos, entonces se manejarán con inscripción previa.
      h3 ¿Por qué en el registro me preguntan por mi institución educativa?
      p R/ Para las clases regulares de las Casas de Música debe estar estudiando en algúna institución educativa pues el proyecto hace parte de la educación complementaria, pero para asistir a los talleres abiertos al público o conferencias no es necesario estar matriculado en ninguna institución.
      h3 ¿Existirán algunas actividades antes del inicio de clases  el 7 de Julio?
      p R/ Si, vamos a ir haciendo talleres, y charlas de divulgación que se iran anunciando en la página http://medellinvivelamusica.com/ y las redes sociales.
      h3 Fuera de estudiar, ¿de qué otra manera me puedo vincular a medellín vive la música?
      p R/ Si tienes un talento con la música puedes vincularte como profesor, o si perteneces a alguna institución educativa podemos unir fuerzas para hacer procesos conjuntos, comunícate a info@medellinvivelamusica.com 
      h3 Cuando intento inscribirme otra vez me sale un error, ¿Porqué sucede esto?
      p R/ Es posible que ya estés registrado y el sistema no permite registrar dos veces el mismo correo, estamos trabajando para que ese error sea más claro y explique mejor la situación.
      h3 ¿Cómo puedo comprobar si ya estoy inscrita(o)?
      p R/ Por ahora puedes consultar el listado de personas inscritas en: http://mi.medellinvivelamusica.com/persona 
