extends ../layout

block content
  .container
    br
    .row
      .panel.panel-default
        .panel-heading Personas inscritas
        table.table
          thead: tbody
            tr
              td Nombre
              td Correo electrónico
              td Institución educativa
          tbody
            each persona in personas
              tr
                td #{persona.nombre}
                td #{persona.correo}
                td #{persona.institucionEducativa}
