extends ../layout

block content
  .container
    br
    .row
      .panel.panel-default
        .panel-heading Personas inscritas
        table.table.table-striped
          thead: tbody
            tr
              th Nombre
              th Institución educativa
          tbody
            each persona in personas
              tr
                td #{persona.nombre}
                td #{persona.institucionEducativa}
