extends ./layout

block styles
  // Default home page
  // <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,700italic,400,300,700' rel='stylesheet'/>
  link(href='http://sailsjs.org/styles/fonts.css', rel='stylesheet')

block body
  .top-bar
    .container.clearfix ESCUELAS DE MÚSICA DE MEDELLÍN
      img.logo(src="http://sailsjs.org/images/sails-logo.jpg")

  .container.clearfix
    .principal
      .foto AQUÍ VA UNA FOTO BIEN BONITA
      h1#main-title ¿Qué son las escuelas de música?
      .descripcion
        p Descripción de lo que son las escuelas de música
      .talleres
        .separador TALLERES
        .cuadritos
          - var talleres = [{nombre: "Taller 1"},{nombre: "Taller 2"},{nombre: "Taller 3"}];
          each taller in talleres
            p= taller.nombre
