doctype html
html(lang='en')
head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='description', content='')
    meta(name='author', content='')
    title Basic Company Template for Bootstrap 3
    //        Bootstrap core CSS
    link(href='/styles/bootstrap.css', rel='stylesheet')
    link(href='/styles/bootstrap-select.css', rel='stylesheet')
    //        Custom CSS for the 'Heroic Features' Template
    link(href='/styles/heroic-features.css', rel='stylesheet')

  body
    nav.navbar.navbar-fixed-top.navbar-inverse(role='navigation')
      .container
        .navbar-header
          button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-ex1-collapse')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href='/') Casas de la Música
        //            Collect the nav links, forms, and other content for toggling
        .collapse.navbar-collapse.navbar-ex1-collapse
          ul.nav.navbar-nav
            li
              a(href='/faq') Preguntas frecuentes
            li
              a(href='/persona/create') Registrarse
            li
              a(href='/login') Autenticarse
        //            /.navbar-collapse
      //          /.container
    block content

      hr
      footer
        .row
          .col-lg-12
            p Copyright © Company 2013
    //        /.container
    //        JavaScript

    script(type='text/javascript', src="/js/dependencies/sails.io.js")
    script(type='text/javascript', src='/js/jquery.js')
    script(type='text/javascript', src='/js/bootstrap.js')
    script(type='text/javascript', src='/js/bootstrap-select.js')
    script(type='text/javascript', src='/js/underscore-min.js')
    script(type="text/javascript")
      | $('.selectpicker').selectpicker();
