mixin taller_cuadro(taller)
  .col-lg-3.col-md-6.hero-feature
    .thumbnail
      img(src='/images/logoCasasDeLaMusica500x800.png', alt='')
      .caption
        h3= taller.nombre
        p= taller.descripcion
        p= taller.fecha
        p
          // a.btn.btn-primary(href='#') Buy Now!
          a.btn.btn-default(href='/taller/'+taller.id) Ver detalles
  block
