extends ../layout
include ./mixins/taller_helpers

block content
  .alert.alert-warning.alert-dismissable
    button(type="button", class="close", data-dismiss="alert", aria-hidden="true") &times;
    strong #{req.flash('message')}

  .container
    .jumbotron.hero-spacer
      .row
        .col-lg-4: .thumbnail
          img(src='/images/destortilla.jpg')
        .col-lg-8
          h1 Casas de Música!
          p
            | Adicional a las clases en los nodos tenemos una oferta de talleres, conferencias y otras actividades a las que podrá asistir.
    .row.text-center
      each taller in talleres
        if taller.publicar
         mixin taller_cuadro(taller)
